#loading {
    display: none;
}

article {
    display: flex;
    justify-content: center;
}

#loginDiv {
    width: 20%;
    padding: 2vw;
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    margin-top: 10px;
}

#loginForm {
    text-align: center;
}

#loginForm input {
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid black;
    height: 2.2vh;
}

#loginForm button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 4vw;
    height: 2.2vh;
}